@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

/* @custom-variant dark (&:is(.dark *)); */

/* * {
  margin: 0;
  padding: 0;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

html,
body {
  background-color: #fff;
}

.f-mont {
  font-family: "Montserrat", sans-serif;
}

.text-wrap {
  position: relative;
  display: inline-flex;
  overflow: hidden;
}

.char {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 1em;
  line-height: 1;
}

.top,
.bottom {
  display: block;
  white-space: pre;
}

.bottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}